<IfModule mod_authz_core.c>
    <Files "config.json">
        Require all denied
    </Files>
</IfModule>

<IfModule mod_authz_core.c>
    <FilesMatch "\.(json|tmp)$">
        Require all denied
    </FilesMatch>
</IfModule>

# Allow access to assets
<IfModule mod_authz_core.c>
    <FilesMatch "\.(css|js|png|jpg|jpeg|gif|svg|ico)$">
        Require all granted
    </FilesMatch>
</IfModule>
